#element, #main {
    height: 100%;
}

#main {
    display: flex;
    flex-direction: column;
}

#head {
    display: flex;
    width: 100%;
}

#main .search {
    margin-right: 10px;
}

#create-new-page-modal .modal-inner {
    height: 500px;
    max-height: calc(100% - 25px);
}

#list-modal {
    margin-bottom: 10px;
}

#modal-create-button {
    display: inline-flex;
    margin-left: 50%;
    transform: translateX(-50%);
}