#main {
    display: flex;
    flex-direction: column;
}

#head {
    display: flex;
    width: 100%;
}

#list {
    display: flex;
    flex-direction: column;
}

#search {
    flex-grow: 1;
}

#search input[type="text"] {
    padding: 10px;
}

.button {
    display: flex;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid;
    align-items: center;
}

.button .icon {
    height: 25px;
    margin-right: 5px;
}

.button-primary {
    background-color: var(--color-primary);
    color: var(--color-light);
    border-color: var(--color-primary-shade);
}

.button-primary .icon {
    filter: invert(100%);
}