#element, #website-select-wrapper {
    height: 100%;
}

#website-select-wrapper {
    display: flex;
    align-items: center;
}

#website-select-box {
    display: flex;
    padding: 0px 7px;
    border: 1px solid var(--color-light);
    border-radius: 5px;
    color: var(--color-light);
    cursor: pointer;
    height: 35px;
    align-items: center;
}

#website-select-icon {
    filter: invert(1);
    height: 16px;
    margin-left: 3px;
    margin-top: 2px;
}