* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}


/**
 * Inputs
 */

.button {
    display: flex;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid;
    align-items: center;
    cursor: pointer;
    opacity: 1;
    transition: opacity .3s ease-in-out;
}

.button .icon {
    height: 25px;
    margin-right: 5px;
}

.button-primary {
    background-color: var(--color-primary);
    color: var(--color-light);
    border-color: var(--color-primary-shade);
}

.button-primary .icon {
    filter: invert(100%);
}

.button:not(.button-disabled):hover {
    opacity: 0.8;
}

.button-disabled {
    filter: grayscale(1);
    opacity: 0.5;
    pointer-events: none;
}

input[type="text"], input[type="password"], input[type="email"] {
    padding: 15px;
    font-size: 20px;
    font-family: 'OpenSans';
    width: 100%;
    border: 1px solid #C4C4C4;
    color: var(--color-text);
    margin-bottom: 20px;
    height: 50px;
    outline: none !important;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus {
    border: 1px solid var(--color-primary);
}

input[type="submit"], button {
    -webkit-appearance: none;
    min-width: 200px;
    height: 50px;
    font-size: 20px;
    font-family: 'OpenSans';
    color: var(--color-light);
    background-color: var(--color-primary);
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    display: block;
    outline: none !important;
}

::placeholder {
    color: #BEBEBE;
}


/**
 * List and search
 */

.list {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 10px;
    border: 1px solid #c4c4c4;
}

.search {
    flex-grow: 1;
    position: relative;
}

.search input[type="text"] {
    margin-bottom: 0;
}

.search img {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    height: 25px;
    cursor: pointer;
}


/**
 * Modals
 */

.modal {
    position: fixed;
}

.modal, .modal-bg {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.modal-bg {
    position: absolute;
    background-color: rgba(0,0,0,0.38);
}

.modal .modal-inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 15px;
    width: 700px;
    max-width: calc(100% - 25px);
    display: flex;
    flex-direction: column;
}

.modal .modal-inner .modal-head {
    position: relative;
    margin-bottom: 15px;
}

.modal .modal-inner .modal-head h2 {
    text-align: center;
    margin: 0;
}

.modal .modal-inner .modal-head .modal-close {
    height: 25px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.modal .modal-inner .modal-head .modal-back {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: flex;
    align-items: center;
}

.modal .modal-inner .modal-head .modal-back .modal-back-text {
    margin-left: 5px;
}