* {
    box-sizing: border-box;
}

.button {
    display: flex;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid;
    align-items: center;
}

.button .icon {
    height: 25px;
    margin-right: 5px;
}

.button-primary {
    background-color: var(--color-primary);
    color: var(--color-light);
    border-color: var(--color-primary-shade);
}

.button-primary .icon {
    filter: invert(100%);
}

input[type="text"], input[type="password"], input[type="email"] {
    padding: 15px;
    font-size: 20px;
    font-family: 'OpenSans';
    width: 100%;
    border: 1px solid #C4C4C4;
    color: var(--color-text);
    margin-bottom: 20px;
    height: 50px;
    outline: none !important;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus {
    border: 1px solid var(--color-primary);
}

input[type="submit"], button {
    -webkit-appearance: none;
    min-width: 200px;
    height: 50px;
    font-size: 20px;
    font-family: 'OpenSans';
    color: var(--color-light);
    background-color: var(--color-primary);
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    display: block;
    outline: none !important;
}

::placeholder {
    color: #BEBEBE;
}