@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

#element, #main, #content, #content div:first-child {
  height: 100%
}

header {
  background-color: var(--color-primary);
  display: flex !important;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  padding: 0px 16px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
  z-index: 1000000;
}

#logo {
  height: 40px;
  margin-top: 5px;
}

nav, #hamburger-button {
  visibility: hidden;
}

#element.loggedIn nav, #element.loggedIn #hamburger-button {
  visibility: visible;
}

nav {
  flex-grow: 1;
  display: flex;
  width: 100%;
}

nav ul#menu-items-wrapper {
  list-style: none;
  padding-inline-start: 0px;
  margin: 0;
  display: flex;
  align-items: center;
  height: 100%;
  order: 1;
  flex-grow: 1;
}

nav ul li {
  padding: 0px 16px;
}

nav ul li a:link, nav ul li a:hover, nav ul li a:active, nav ul li a:visited {
  color: var(--color-light);
  text-decoration: none;
}

nav ul li.active a {
  border-bottom: 2px solid #fff;
  border-top: 2px solid transparent;
}

nav #website-manager-wrapper {
  order: 2;
  flex-shrink: 0;
  margin: 0px 8px;
}

nav #website-manager-wrapper > div {
  height: 100%;
}

nav #user {
  order: 3;
  align-items: center;
  display: flex;
  flex-shrink: 0;
}

#hamburger-button {
  display: none;
  position: absolute;
  top: 4.5px;
  right: 0px;
  width: 25px;
  height: 21px;
  margin: 10px;
}

#hamburger-button .inner, #hamburger-button:before, #hamburger-button:after {
  width: 25px;
  height: 3px;
  background-color: var(--color-light);
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
  transition: opacity .3s ease-in-out, transform .2s ease-in-out;
}

#hamburger-button:before, #hamburger-button:after {
  content: '';
  position: absolute;
}

#hamburger-button:before {
  top: 0px;
}

#hamburger-button .inner {
  margin-top: 9px;
  opacity: 1;
}

#hamburger-button:after {
  top: 18px;
}

#hamburger-button.active .inner {
  opacity: 0;
}

#hamburger-button.active:before {
  transform: translateY(9px) rotate(135deg);
}

#hamburger-button.active:after {
  transform: translateY(-9px) rotate(225deg);
}

main {
  padding: 16px;
  padding-top: 66px;
}

footer {
  padding: 16px;
  background-color: #ddd;
}

#content a:link, #content a:hover, #content a:active, #content a:visited {
  color: var(--color-primary);
}

#error404 {
  text-align: center;
}

#error404 img {
  width: 75%;
  max-width: 1000px;
}

@media (max-width: 800px) {
  nav {
    max-height: 0vh;
    position: absolute;
    transition: max-height .3s linear;
    width: 100vw;
    background-color: var(--color-light);
    top: 50px;
    left: 0px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
    flex-direction: column-reverse;
  }

  nav #user-component-wrapper {
    padding: 16px;
  }

  nav ul {
    flex-direction: column;
    align-items: normal;
  }

  nav ul li {
    padding: 0px;
    width: 100%;
  }

  nav ul li a {
    padding: 16px;
    width: 100%;
    display: block;
  }

  nav ul li a:link, nav ul li a:hover, nav ul li a:active, nav ul li a:visited {
    color: var(--color-text);
  }

  nav ul li:nth-child(n+2) {
    border-top: 1px solid rgba(0,0,0,0.1);
  }

  nav.active {
    max-height: calc(100vh - 50px);
  }

  #hamburger-button {
    display: block;
  }
}
