#element {
    height: 100%;
}

#list .list-item {
    cursor: pointer;
}

.edit-head .search {
    margin-right: 10px;
}

#create-new-page-modal #create-modal-step-1 {
    height: 500px;
    max-height: calc(100% - 25px);
}

#list-modal {
    margin-bottom: 10px;
}