#element {
    height: 100%;
}

#list .list-item {
    cursor: pointer;
}

.edit-head .search {
    margin-right: 10px;
}

#create-theme-definition-modal #create-modal-step-1, #import-theme-definition-modal #import-modal-step-1 {
    height: 500px;
    max-height: calc(100% - 25px);
}

#list-modal, #import-list-modal {
    margin-bottom: 10px;
}

#save-button, #export-button {
    margin-left: 10px;
    cursor: pointer;
}

#import-button {
    margin-right: 10px;
}

#import-modal-theme-file, #import-modal-theme-definition-file {
    width: 100%;
    height: 50px;
    font-family: 'Open Sans';
}

#preview-content {
    padding: 0px;
    overflow: auto;
}

.edit-content:not(.active) {
    display: none;
}